@if (TempData["Success"] != null)
{
	<div class="pop" id="msg" style="position:absolute;top:50px;right:20px;z-index:99">
		<p style="background-color:green;padding:10px 40px;border-radius:20px;color:wheat">@TempData["Success"]</p>
	</div>
}
@if (TempData["Warning"] != null)
{
	<div class="pop" id="msg" style="position:absolute;top:50px; right:20px;z-index:99">
		<p style="background-color:orange;padding:10px 40px;border-radius:20px;color:white">@TempData["Warning"]</p>
	</div>
}
@if (TempData["Danger"] != null)
{
	<div class="pop" id="msg" style="position:absolute;top:50px; right:20px;z-index:99">
		<p style="background-color:red;padding:10px 40px;border-radius:20px;color:white">@TempData["Danger"]</p>
	</div>
}

<script>
	setTimeout(function () {
		document.getElementById("msg").style.display = "none";
	}, 3000); // 3000 ms = 3 seconds
</script>